<html>

<head>
  <title>Welcome to <%= appData.appName %>
  </title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<div class="page-wrapper">
  <div class="card">

    <body>
      <h1>Welcome to <%= appData.appName %>
      </h1>

      <% if (currentUser) { %>
        <p class="centered-title">Welcome, <%= currentUser.firstName %>!</p>
        <p><a href="/about">About <%= appData.appName %></a></p>
        <p><a href="/user/profile">View your profile</a></p>
        <p><a href="/exercise/add">Add a New Workout</a></p>
        <p><a href="/exercise/search">Find Previous Workouts</a></p>
        <p><a href="/user/logout">Logout</a></p>
        <% } else { %>
              <p><a href="/about">About <%= appData.appName %></a></p>
          <p><a href="/user/login">Login</a> </p>
          <p> <a href="/user/register">Register</a></p>
          <% } %>



    </body>
  </div>
</div>

</html>